html
	min-height: 100%
	box-sizing: border-box

// box size reset
*, *:before, *:after
	box-sizing: inherit


body
	min-height: 100%
	background-color: $color-background
	background-size: cover
	background-position: 50% 50%
	background-attachment: fixed
	background-repeat: no-repeat
	// background: linear-gradient(to bottom, white, darken($color-background, 6%))


a, .btn
	transition: all 0.3s
	text-decoration: none
	outline: none !important

a
	position: relative
	display: inline-block
	color: $color-font
	font-weight: bold
	border-bottom: 1px dotted rgba(255,255,255,0.4)

	&:focus
	&:hover
	&:active
		color: $color-highlight
		border-bottom: 1px solid $color-highlight


blockquote
	padding: 10px 20px
	margin: 0 0 20px
	font-size: 17.5px
	border-left: 5px solid #eee
	border-color:rgba(255,255,255,0.4)
	background:rgba(0,0,0,0.4)

blockquote p
	margin:0.6em 0 !important


img,
iframe
	vertical-align: bottom
	max-width: 100%
	border: 2px solid $color-border
	box-shadow: 0 5px 5px -3px $color-shadow

iframe
	margin-bottom: $margin


.none-list
	margin 0
	padding 0
	list-style: none


.btn
	display: inline-block
	padding: 5px $margin
	border: 1px solid #fff
	border-radius: 0
	color: #fff
	background-color: transparent
	text-align: center
	white-space: nowrap
	vertical-align: middle
	cursor: pointer
	user-select: none

	&:hover,
	&:focus,
	&:active
		color: #000
		text-shadow: none
		background-color: $color-highlight
		border-color: #fff


button
	@extend .btn


nav
	ul
		@extends .none-list

.icon
	display: inline-block
	width: 1em
	height: 1em
	stroke-width: 0
	stroke: currentColor
	fill: currentColor


figure
	margin: 0
	position: relative

	figcaption
		position: absolute
		bottom: 0
		width: 100%
		background: rgba($color-border, 0.8)
		padding: 0.25em 0.5em
		text-align: right
		font-weight: normal

		h1, h2, h3, h4
			font-weight: normal
			margin: 0
		//color: white

hr
	display: block
	width: 100%
	height: 2px
	border: 0
	background-color: white
