@lost gutter 25px


// ===== Header =====

.main-header
	position: relative

	.logo
		display: block
		padding: $margin 0
		border: 0
		color: $color-font

		&::after
			display: none

		h1
			margin 0
			padding-right: 75px
			font-weight: normal

		.logo-img
			position: absolute
			top: 0
			bottom: 0
			right: 0
			max-width: 100px
			max-height: 75px
			margin: auto
			border: 0


	.mobile-controls
		display: none


	.language-selector
		position: absolute
		right: 0
		top: $margin

		a
			display: inline-block
			padding: 0 3px
			border: 0


	.main-menu
		border-top: 2px solid white

		li
			display: inline-block
			padding: 5px 0

			a
				display: inline-block
				margin-right: $margin
				border: 0

				&::after
					content: ''
					position: absolute
					display: block
					left: 0
					right: 0
					bottom: -5px
					height: 2px
					width: 0
					margin: auto
					background: rgba($color-font, 0.8)
					transition: all 0.3s
					box-shadow: 2px 3px 2px $shadow-color

				&.selected
					color: $color-highlight

					&::after
						display: block
						width: 100%
						background-color: $color-highlight

			@media (max-width: $screen-sm)
				padding: ($margin-sm )
				padding-left: 0

		@media (max-width: $screen-sm)
			border-bottom: 2px solid white

// ===== Footer =====

.main-footer
	.footer-text-line
		font-size: 0.85em

	a
		border-bottom: 0

	a + a
		margin-left: 1em


// ===== Preview links =====

.collection
	lost-utility: clearfix


.preview-link
	border: 0

	&:hover
	&:focus
	&:active
		border: 0
		color: $color-font


.thumbnail
	overflow: hidden
	padding-top: 100%
	margin 0
	background: white

	.image
		top: 0
		left: 0
		position: absolute
		width: 100%
		height: 100%

	img
		width: 100%
		height: 100%
		max-width: none
		vertical-align: baseline
		object-fit: cover
		font-family: 'object-fit: cover;'
		object-position: 50% 20%


.work-preview
	lost-column: 1/4

	margin-bottom: $margin

	&.full-width
		lost-column 1

	@media (max-width: $screen-sm)
		lost-column: 1/3

	@media (max-width: $screen-xs)
		lost-column: 1/2

// ===== Start page =====

.page-preview
	float: left
	padding-right: 5%
	padding-bottom: 5%
	width: 49.9%

	figure
		box-shadow: 0 5px 5px -3px $color-shadow

		img
			border: 0
			box-shadow: none

	.preview-slider
		position: absolute
		top: $margin
		left: 7.5%
		margin: auto
		width: 85%
		pointer-events: none

		.thumbnail
			padding-top: 100%
			display: block

	&.big
		width: 100%

		.preview-slider
			left: 5%
			width: 45%


.featured-pages
	lost-utility: clearfix
	position: relative
	margin-right: -4.6%
	opacity: 0
	transition: opacity 0.2s

	&.visible
		opacity: 1

	.container-2-3
	.container-1-3
	.container-2-5
	.container-1-5
	.container-1-2
		float: left

	.container-1-3
	.container-1-2
	.container-1-5
		.page-preview
			width: 100%
	.container-1-3
	.container-1-2
		.page-preview
			padding-right: 10%
			padding-bottom: 10%

	.container-2-3
		width: 66.4%
	.container-1-3
		width: 33.33%
	.container-2-5
		width: 39.05%
	.container-1-5
		width: 18.6%
	.container-1-2
		width: 49.9%



// ===== Work details page =====

.work-details
	nav
		position: relative
		margin-bottom: $margin-lg
		padding: 5px 0
		text-align: center
		border: 1px solid white

	.gallery-prev
	.gallery-next
		position: absolute
		border: 0
		top: 0
		bottom: 0
		img
			height: 1.6em
			border: 0
			box-shadow: none

	.zoom-in
		border: 0
		padding: 0 $margin

		&:hover, &:focus
			background-color: transparent
			color: $color-highlight

	.gallery-prev
		left: 0
	.gallery-next
		right: 0
	.gallery-back
		margin-left: $margin
		border: 0


	h2
		@extend h3
		margin-bottom: $margin-sm

	figure
		text-align: center
		outline: none

		@media (max-width: $screen-sm)
			min-height: 200px

		img
			position: relative
			max-width: 100%
			max-height: $screen-md
			max-height: 98vh
			margin: auto
			border: 3px solid $color-border
			box-shadow: 0 18px 22px -17px $color-shadow
			pointer-events: none

	.slick-dots button::before
		color: $color-font !important

	.download-img
		margin: .5em 0 0
		text-align: right


// ===== Image Zoom

.image-details
	position: fixed
	width: 100%
	height: 100%
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 100
	background: rgba(0, 0, 0, 0.9)

	nav, header
		margin: 0
		border: 0
		text-align: right

		button
			border: 0
			&:hover, &:focus
				background-color: transparent
				color: $color-highlight


	.image
		position: absolute
		overflow: auto
		top: $margin-lg
		left: 0
		right: 0
		bottom: 0
		margin: 0
		text-align: center

		img
			margin: auto

			&.big
				max-width: 200%


// ===== Exhibitions =====

.exhibition-item
	margin-bottom: $margin * 1.5
	transition: all 0.3s

	p, h3, h4
		margin-bottom: 0

	&.short
		margin-bottom: $margin

		h2, h3, h4
			font-size: 1rem

	&.clickable:hover
		@extend a:hover
		border: 0
		cursor: pointer


.exhibition-data
	margin-bottom: $margin-lg

	td
		padding-right: $margin
		& .markdown-content
			margin: 0

			& *:last-child
				margin-bottom: 0


// ===== Statements info =====

.info-block

	hr
		clear both

	.single-attachment

		float: left
		width: 33%
		margin: 5px $margin-lg $margin-lg 0

		& + .block-content
			float: right
			width: calc(65.9% - 40px)

		.work-preview
			lost-column: 1

		@media (max-width: $screen-md)
			float: none
			margin: 0 0 $margin-lg 0
			width: 50%
			max-width: 300px

			& + .block-content
				float: none
				clear: both
				width: 100%


	.block-attachments.collection > *

		@extend .work-preview

// ===== markdown content =====

.markdown-content
	h1
		@extend h2
		margin-top: $margin-lg
	h2
		@extend h3
		margin-top: $margin-lg

	h3
		@extend h4

	div
		margin: $margin 0
