.main-container
	width: 100%
	min-height: 100vh
	text-align: center

	transition: all 0.3s
	background: rgba(80, 80, 80, 0.7);

	&.transparent-background
		background: rgba(80, 80, 80, 0.0);


.content-wrapper
	position: relative
	overflow: hidden
	width: 100%
	max-width: $screen-lg
	min-height: 100%
	margin: auto
	text-align: left
	padding: 0 $margin-lg
	transition: all 0.3s

	@media (max-width: $screen-sm)
		padding: 0 1rem



main
header
article
section
	margin-bottom: $margin-lg

