// Default Variables

$slick-font-path = "./fonts/"
$slick-font-family = "slick"
$slick-loader-path = "./"
$slick-arrow-color = white
$slick-dot-color = white
$slick-dot-color-active = $slick-dot-color
slick-prev-character = "←"
$slick-next-character = "→"
$slick-dot-character = "•"
$slick-dot-size = 12px
$slick-opacity-default = 0.75
$slick-opacity-on-hover = 1
$slick-opacity-not-active = 0.25

/* Slider */

.slick-slider {
		position: relative
		display: block
		box-sizing: border-box
		-webkit-touch-callout: none
		-webkit-user-select: none
		-khtml-user-select: none
		-moz-user-select: none
		-ms-user-select: none
		user-select: none
		-ms-touch-action: pan-y
		touch-action: pan-y
		-webkit-tap-highlight-color: transparent
}
.slick-list {
		position: relative
		overflow: hidden
		display: block
		margin: 0
		padding: 0

		transition: height 0.4s

		&:focus {
				outline: none
		}

		&.dragging {
				cursor: pointer
				cursor: hand
		}
}
.slick-slider .slick-track,
.slick-slider .slick-list {
		-webkit-transform: translate3d(0, 0, 0)
		-moz-transform: translate3d(0, 0, 0)
		-ms-transform: translate3d(0, 0, 0)
		-o-transform: translate3d(0, 0, 0)
		transform: translate3d(0, 0, 0)
}

.slick-track {
		position: relative
		left: 0
		top: 0
		display: block

		&:before,
		&:after {
				content: ""
				display: table
		}

		&:after {
				clear: both
		}

		.slick-loading & {
				visibility: hidden
		}
}
.slick-slide {
		float: left
		height: 100%
		padding: 3px
		min-height: 400px
		min-height: 50vh
		[dir="rtl"] & {
				float: right
		}
		img {
				display: block
				background: white
		}
		&.slick-loading img {
				display: none
		}

		display: none

		&.dragging img {
				pointer-events: none
		}

		.slick-initialized & {
				display: block
		}

		.slick-loading & {
				visibility: hidden
		}

		.slick-vertical & {
				display: block
				height: auto
				border: 1px solid transparent
		}
}
.slick-arrow.slick-hidden {
		display: none
}


/* Slider */

.slick-loading .slick-list{
		background: #fff url('@{slick-loader-path}ajax-loader.gif') center center no-repeat
}

/* Icons */
@font-face{
		font-family: 'slick'
		font-weight: normal
		font-style: normal

		src: url('fonts/slick.eot')
		src: url('fonts/slick.eot?#iefix') format('embedded-opentype'), url('fonts/slick.woff') format('woff'), url('fonts/slick.ttf') format('truetype'), url('@{slick-font-path}slick.svg#slick') format('svg')
}

/* Arrows */

.slick-prev,
.slick-next {
		position: absolute
		display: block
		height: 100%
		width: $margin * 2.5
		line-height: 0px
		font-size: 0px
		cursor: pointer
		background: transparent
		color: transparent
		top: 50%
		transform: translate(0, -50%)
		padding: 0
		border: none
		outline: none
		z-index: 1
		opacity: 0
		.slick-slider:hover & {
			opacity: 1
		}
		&:hover, &:focus {
				outline: none
				background: transparent
				color: transparent
				&:before {
						opacity: $slick-opacity-on-hover
				}
		}
		&.slick-disabled:before {
				opacity: $slick-opacity-not-active
		}
}

.slick-prev:before, .slick-next:before {
	content: ' '
	display: block
	width: 100%
	height: 100%
	opacity: $slick-opacity-default
	background-repeat: no-repeat
	background-position: center
}

.slick-prev {
	left: 0
	&:before {
		background-image: url(carousel_arrow_left.png)
	}
}

.slick-next {
	right: 0
	&:before {
		background-image: url(carousel_arrow_right.png)
	}
}

/* Dots */

.slick-dotted .slick-slider {
		margin-bottom: 30px
}

.slick-dots {
		//position: absolute
		list-style: none
		display: block
		text-align: center
		padding: 0
		margin: 0
		width: 100%
		li {
				position: relative
				display: inline-block
				height: 20px
				width: 20px
				margin: 0 5px
				padding: 0
				cursor: pointer
				button {
						border: 0
						background: transparent
						display: block
						height: 20px
						width: 20px
						outline: none
						line-height: 0px
						font-size: 0px
						color: transparent
						padding: 5px
						cursor: pointer
						&:hover, &:focus {
								outline: none
								&:before {
										opacity: $slick-opacity-on-hover
								}
						}
						&:before {
								position: absolute
								top: 0
								left: 0
								content: $slick-dot-character
								width: 20px
								height: 20px
								font-family: $slick-font-family
								font-size: $slick-dot-size
								line-height: 20px
								text-align: center
								color: $slick-dot-color
								opacity: $slick-opacity-not-active
								-webkit-font-smoothing: antialiased
								-moz-osx-font-smoothing: grayscale
						}
				}
				&.slick-active button:before {
						color: $slick-dot-color-active
						opacity: $slick-opacity-default
				}
		}
}
