html
	font-size: $font-size-sm
	font-family: $font-family
	@media (min-width: $screen-sm)
		font-size: $font-size-base
	@media (min-width: $screen-xl)
		font-size: $font-size-big


body
	font-family: $font-family
	color: $color-font
	text-shadow: 1px 2px 2px $color-shadow
	line-height: $line-height-base
	font-size: 1rem


p a
	font-family: inherit

strong
	font-family: 'open_sansbold', sans-serif

em
	//font-family: 'open_sansitalic', sans-serif // somehow doesn't work...
	font-style: italic
	font-weight: normal

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
	line-height: $line-height-heading

	small
		font-weight: normal

h1, h2, h3, h4, h5, h6, p, ul
	margin: 0 0 $margin

h1
	font-size: 2.2em
h2
	font-size: 1.8em
h3
	font-size: 1.5em
h4
	font-size: 1.2em
h5
	font-size: 1.15em
h6
	font-size: 1.05em
