html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover,
.exhibition-item.clickable:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: bold;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  transition: height 0.4s;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  padding: 3px;
  min-height: 400px;
  min-height: 50vh;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
  background: #fff;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.slick-loading .slick-list {
  background: #fff url("@{slick-loader-path}ajax-loader.gif") center center no-repeat;
}
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url("fonts/slick.eot");
  src: url("fonts/slick.eot?#iefix") format('embedded-opentype'), url("fonts/slick.woff") format('woff'), url("fonts/slick.ttf") format('truetype'), url("@{slick-font-path}slick.svg#slick") format('svg');
}
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 100%;
  width: 3.25rem;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  z-index: 1;
  opacity: 0;
}
.slick-slider:hover .slick-prev,
.slick-slider:hover .slick-next {
  opacity: 1;
}
.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  content: ' ';
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.75;
  background-repeat: no-repeat;
  background-position: center;
}
.slick-prev {
  left: 0;
}
.slick-prev:before {
  background-image: url("carousel_arrow_left.png");
}
.slick-next {
  right: 0;
}
.slick-next:before {
  background-image: url("carousel_arrow_right.png");
}
.slick-dotted .slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: #fff;
  opacity: 0.75;
}
html {
  min-height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  min-height: 100%;
  background-color: #868686;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
a,
.btn,
button {
  transition: all 0.3s;
  text-decoration: none;
  outline: none !important;
}
a {
  position: relative;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  border-bottom: 1px dotted rgba(255,255,255,0.4);
}
a:focus,
a:hover,
a:active,
.exhibition-item.clickable:hover {
  color: #ffd26e;
  border-bottom: 1px solid #ffd26e;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
  border-color: rgba(255,255,255,0.4);
  background: rgba(0,0,0,0.4);
}
blockquote p {
  margin: 0.6em 0 !important;
}
img,
iframe {
  vertical-align: bottom;
  max-width: 100%;
  border: 2px solid #d5c9c2;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,0.2);
}
iframe {
  margin-bottom: 1.3rem;
}
.none-list,
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.btn,
button {
  display: inline-block;
  padding: 5px 1.3rem;
  border: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  background-color: transparent;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.btn:hover,
button:hover,
.btn:focus,
button:focus,
.btn:active,
button:active {
  color: #000;
  text-shadow: none;
  background-color: #ffd26e;
  border-color: #fff;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
figure {
  margin: 0;
  position: relative;
}
figure figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(213,201,194,0.8);
  padding: 0.25em 0.5em;
  text-align: right;
  font-weight: normal;
}
figure figcaption h1,
figure figcaption h2,
figure figcaption h3,
figure figcaption h4 {
  font-weight: normal;
  margin: 0;
}
hr {
  display: block;
  width: 100%;
  height: 2px;
  border: 0;
  background-color: #fff;
}
html {
  font-size: 16px;
  font-family: sans-serif;
}
@media (min-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media (min-width: 1400px) {
  html {
    font-size: 18px;
  }
}
body {
  font-family: sans-serif;
  color: #fff;
  text-shadow: 1px 2px 2px rgba(0,0,0,0.2);
  line-height: 1.7;
  font-size: 1rem;
}
p a {
  font-family: inherit;
}
strong {
  font-family: 'open_sansbold', sans-serif;
}
em {
  font-style: italic;
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.work-details h2,
.markdown-content h1,
.markdown-content h2,
.markdown-content h3 {
  line-height: 1.2;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
.work-details h2 small,
.markdown-content h1 small,
.markdown-content h2 small,
.markdown-content h3 small {
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
.work-details h2,
.markdown-content h1,
.markdown-content h2,
.markdown-content h3 {
  margin: 0 0 1.3rem;
}
h1 {
  font-size: 2.2em;
}
h2,
.markdown-content h1 {
  font-size: 1.8em;
}
h3,
.work-details h2,
.markdown-content h2 {
  font-size: 1.5em;
}
h4,
.markdown-content h3 {
  font-size: 1.2em;
}
h5 {
  font-size: 1.15em;
}
h6 {
  font-size: 1.05em;
}
.main-container {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  transition: all 0.3s;
  background: rgba(80,80,80,0.7);
}
.main-container.transparent-background {
  background: rgba(80,80,80,0);
}
.content-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1100px;
  min-height: 100%;
  margin: auto;
  text-align: left;
  padding: 0 2.6rem;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  .content-wrapper {
    padding: 0 1rem;
  }
}
main,
header,
article,
section {
  margin-bottom: 2.6rem;
}
.main-header {
  position: relative;
}
.main-header .logo {
  display: block;
  padding: 1.3rem 0;
  border: 0;
  color: #fff;
}
.main-header .logo::after {
  display: none;
}
.main-header .logo h1 {
  margin: 0;
  padding-right: 75px;
  font-weight: normal;
}
.main-header .logo .logo-img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  max-width: 100px;
  max-height: 75px;
  margin: auto;
  border: 0;
}
.main-header .mobile-controls {
  display: none;
}
.main-header .language-selector {
  position: absolute;
  right: 0;
  top: 1.3rem;
}
.main-header .language-selector a {
  display: inline-block;
  padding: 0 3px;
  border: 0;
}
.main-header .main-menu {
  border-top: 2px solid #fff;
}
.main-header .main-menu li {
  display: inline-block;
  padding: 5px 0;
}
.main-header .main-menu li a {
  display: inline-block;
  margin-right: 1.3rem;
  border: 0;
}
.main-header .main-menu li a::after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 2px;
  width: 0;
  margin: auto;
  background: rgba(255,255,255,0.8);
  transition: all 0.3s;
  box-shadow: 2px 3px 2px $shadow-color;
}
.main-header .main-menu li a.selected {
  color: #ffd26e;
}
.main-header .main-menu li a.selected::after {
  display: block;
  width: 100%;
  background-color: #ffd26e;
}
@media (max-width: 768px) {
  .main-header .main-menu li {
    padding: 0.65rem;
    padding-left: 0;
  }
}
@media (max-width: 768px) {
  .main-header .main-menu {
    border-bottom: 2px solid #fff;
  }
}
.main-footer .footer-text-line {
  font-size: 0.85em;
}
.main-footer a {
  border-bottom: 0;
}
.main-footer a + a {
  margin-left: 1em;
}
.collection:before {
  content: '';
  display: table;
}
.collection:after {
  content: '';
  display: table;
  clear: both;
}
.preview-link {
  border: 0;
}
.preview-link:hover,
.preview-link:focus,
.preview-link:active {
  border: 0;
  color: #fff;
}
.thumbnail {
  overflow: hidden;
  padding-top: 100%;
  margin: 0;
  background: #fff;
}
.thumbnail .image {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  max-width: none;
  vertical-align: baseline;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: 'object-fit: cover;';
  -o-object-position: 50% 20%;
     object-position: 50% 20%;
}
.work-preview,
.info-block .block-attachments.collection > * {
  width: calc(99.9% * 1/4 - (25px - 25px * 1/4));
  margin-bottom: 1.3rem;
}
.work-preview:nth-child(1n),
.info-block .block-attachments.collection > *:nth-child(1n) {
  float: left;
  margin-right: 25px;
  clear: none;
}
.work-preview:last-child,
.info-block .block-attachments.collection > *:last-child {
  margin-right: 0;
}
.work-preview:nth-child(4n),
.info-block .block-attachments.collection > *:nth-child(4n) {
  margin-right: 0;
  float: right;
}
.work-preview:nth-child(4n + 1),
.info-block .block-attachments.collection > *:nth-child(4n + 1) {
  clear: both;
}
.work-preview.full-width,
.info-block .block-attachments.collection > *.full-width {
  width: calc(99.9% * 1 - (25px - 25px * 1));
}
.work-preview.full-width:nth-child(1n),
.info-block .block-attachments.collection > *.full-width:nth-child(1n) {
  float: left;
  margin-right: 25px;
  clear: none;
}
.work-preview.full-width:last-child,
.info-block .block-attachments.collection > *.full-width:last-child {
  margin-right: 0;
}
.work-preview.full-width:nth-child(NaNn),
.info-block .block-attachments.collection > *.full-width:nth-child(NaNn) {
  margin-right: 0;
  float: right;
}
.work-preview.full-width:nth-child(NaNn + 1),
.info-block .block-attachments.collection > *.full-width:nth-child(NaNn + 1) {
  clear: both;
}
@media (max-width: 768px) {
  .work-preview,
  .info-block .block-attachments.collection > * {
    width: calc(99.9% * 1/3 - (25px - 25px * 1/3));
  }
  .work-preview:nth-child(1n),
  .info-block .block-attachments.collection > *:nth-child(1n) {
    float: left;
    margin-right: 25px;
    clear: none;
  }
  .work-preview:last-child,
  .info-block .block-attachments.collection > *:last-child {
    margin-right: 0;
  }
  .work-preview:nth-child(3n),
  .info-block .block-attachments.collection > *:nth-child(3n) {
    margin-right: 0;
    float: right;
  }
  .work-preview:nth-child(3n + 1),
  .info-block .block-attachments.collection > *:nth-child(3n + 1) {
    clear: both;
  }
}
@media (max-width: 480px) {
  .work-preview,
  .info-block .block-attachments.collection > * {
    width: calc(99.9% * 1/2 - (25px - 25px * 1/2));
  }
  .work-preview:nth-child(1n),
  .info-block .block-attachments.collection > *:nth-child(1n) {
    float: left;
    margin-right: 25px;
    clear: none;
  }
  .work-preview:last-child,
  .info-block .block-attachments.collection > *:last-child {
    margin-right: 0;
  }
  .work-preview:nth-child(2n),
  .info-block .block-attachments.collection > *:nth-child(2n) {
    margin-right: 0;
    float: right;
  }
  .work-preview:nth-child(2n + 1),
  .info-block .block-attachments.collection > *:nth-child(2n + 1) {
    clear: both;
  }
}
.page-preview {
  float: left;
  padding-right: 5%;
  padding-bottom: 5%;
  width: 49.9%;
}
.page-preview figure {
  box-shadow: 0 5px 5px -3px rgba(0,0,0,0.2);
}
.page-preview figure img {
  border: 0;
  box-shadow: none;
}
.page-preview .preview-slider {
  position: absolute;
  top: 1.3rem;
  left: 7.5%;
  margin: auto;
  width: 85%;
  pointer-events: none;
}
.page-preview .preview-slider .thumbnail {
  padding-top: 100%;
  display: block;
}
.page-preview.big {
  width: 100%;
}
.page-preview.big .preview-slider {
  left: 5%;
  width: 45%;
}
.featured-pages {
  position: relative;
  margin-right: -4.6%;
  opacity: 0;
  transition: opacity 0.2s;
}
.featured-pages:before {
  content: '';
  display: table;
}
.featured-pages:after {
  content: '';
  display: table;
  clear: both;
}
.featured-pages.visible {
  opacity: 1;
}
.featured-pages .container-2-3,
.featured-pages .container-1-3,
.featured-pages .container-2-5,
.featured-pages .container-1-5,
.featured-pages .container-1-2 {
  float: left;
}
.featured-pages .container-1-3 .page-preview,
.featured-pages .container-1-2 .page-preview,
.featured-pages .container-1-5 .page-preview {
  width: 100%;
}
.featured-pages .container-1-3 .page-preview,
.featured-pages .container-1-2 .page-preview {
  padding-right: 10%;
  padding-bottom: 10%;
}
.featured-pages .container-2-3 {
  width: 66.4%;
}
.featured-pages .container-1-3 {
  width: 33.33%;
}
.featured-pages .container-2-5 {
  width: 39.05%;
}
.featured-pages .container-1-5 {
  width: 18.6%;
}
.featured-pages .container-1-2 {
  width: 49.9%;
}
.work-details nav {
  position: relative;
  margin-bottom: 2.6rem;
  padding: 5px 0;
  text-align: center;
  border: 1px solid #fff;
}
.work-details .gallery-prev,
.work-details .gallery-next {
  position: absolute;
  border: 0;
  top: 0;
  bottom: 0;
}
.work-details .gallery-prev img,
.work-details .gallery-next img {
  height: 1.6em;
  border: 0;
  box-shadow: none;
}
.work-details .zoom-in {
  border: 0;
  padding: 0 1.3rem;
}
.work-details .zoom-in:hover,
.work-details .zoom-in:focus {
  background-color: transparent;
  color: #ffd26e;
}
.work-details .gallery-prev {
  left: 0;
}
.work-details .gallery-next {
  right: 0;
}
.work-details .gallery-back {
  margin-left: 1.3rem;
  border: 0;
}
.work-details h2 {
  margin-bottom: 0.65rem;
}
.work-details figure {
  text-align: center;
  outline: none;
}
@media (max-width: 768px) {
  .work-details figure {
    min-height: 200px;
  }
}
.work-details figure img {
  position: relative;
  max-width: 100%;
  max-height: 1014px;
  max-height: 98vh;
  margin: auto;
  border: 3px solid #d5c9c2;
  box-shadow: 0 18px 22px -17px rgba(0,0,0,0.2);
  pointer-events: none;
}
.work-details .slick-dots button::before {
  color: #fff !important;
}
.work-details .download-img {
  margin: 0.5em 0 0;
  text-align: right;
}
.image-details {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: rgba(0,0,0,0.9);
}
.image-details nav,
.image-details header {
  margin: 0;
  border: 0;
  text-align: right;
}
.image-details nav button,
.image-details header button {
  border: 0;
}
.image-details nav button:hover,
.image-details header button:hover,
.image-details nav button:focus,
.image-details header button:focus {
  background-color: transparent;
  color: #ffd26e;
}
.image-details .image {
  position: absolute;
  overflow: auto;
  top: 2.6rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  text-align: center;
}
.image-details .image img {
  margin: auto;
}
.image-details .image img.big {
  max-width: 200%;
}
.exhibition-item {
  margin-bottom: 1.95rem;
  transition: all 0.3s;
}
.exhibition-item p,
.exhibition-item h3,
.exhibition-item h4 {
  margin-bottom: 0;
}
.exhibition-item.short {
  margin-bottom: 1.3rem;
}
.exhibition-item.short h2,
.exhibition-item.short h3,
.exhibition-item.short h4 {
  font-size: 1rem;
}
.exhibition-item.clickable:hover {
  border: 0;
  cursor: pointer;
}
.exhibition-data {
  margin-bottom: 2.6rem;
}
.exhibition-data td {
  padding-right: 1.3rem;
}
.exhibition-data td .markdown-content {
  margin: 0;
}
.exhibition-data td .markdown-content *:last-child {
  margin-bottom: 0;
}
.info-block hr {
  clear: both;
}
.info-block .single-attachment {
  float: left;
  width: 33%;
  margin: 5px 2.6rem 2.6rem 0;
}
.info-block .single-attachment + .block-content {
  float: right;
  width: calc(65.9% - 40px);
}
.info-block .single-attachment .work-preview {
  width: calc(99.9% * 1 - (25px - 25px * 1));
}
.info-block .single-attachment .work-preview:nth-child(1n) {
  float: left;
  margin-right: 25px;
  clear: none;
}
.info-block .single-attachment .work-preview:last-child {
  margin-right: 0;
}
.info-block .single-attachment .work-preview:nth-child(NaNn) {
  margin-right: 0;
  float: right;
}
.info-block .single-attachment .work-preview:nth-child(NaNn + 1) {
  clear: both;
}
@media (max-width: 1014px) {
  .info-block .single-attachment {
    float: none;
    margin: 0 0 2.6rem 0;
    width: 50%;
    max-width: 300px;
  }
  .info-block .single-attachment + .block-content {
    float: none;
    clear: both;
    width: 100%;
  }
}
.markdown-content h1 {
  margin-top: 2.6rem;
}
.markdown-content h2 {
  margin-top: 2.6rem;
}
.markdown-content div {
  margin: 1.3rem 0;
}
